{% extends 'store/main.html' %}
{% load static %}


{% block title %}
   Actualizar Perfil
{% endblock title %}
   
{% block content %}
<section class="form-container">  
   <form action="" method="POST">{% csrf_token %}
      <h3>Actualiza tu perfil</h3>
      <input type="hidden" name="prev_pass" value="<?= $fetch_profile['password']; ?>">
      <input type="text" name="username" value="{{request.user}}"required placeholder="Introduce tu usuario" maxlength="20"  class="box">
      <input type="password" name="old_password" placeholder="Introduce tu antigua contraseña" maxlength="20"  class="box" oninput="this.value = this.value.replace(/\s/g, '')">
      <input type="password" name="new_password" placeholder="Introduce tu nueva contraseña" maxlength="20"  class="box" oninput="this.value = this.value.replace(/\s/g, '')">
      <input type="password" name="confirm_pass" placeholder="Confirmar nueva contraseña" maxlength="20"  class="box" oninput="this.value = this.value.replace(/\s/g, '')">
      <input type="submit" value="Actualizar Ahora" class="btn" name="submit">
   </form>
</section> 
{% endblock content %}