
{% extends 'store/main.html' %}
{% load static %}   



{% block title %}
   Checkout Page
{% endblock title %}
   
{% block content %}
   

<section class="checkout-orders">

   <form action="" method="POST">{% csrf_token %}

      <h3>Tus pedidos</h3>
      
      <div class="display-orders">
         
         {% for product  in products %}
            <p>{{product.product_id.name}} <span>(${{product.product_id.price}}/- x {{product.quantity}})</span> </p>
         {% endfor %}
         <input type="hidden" name="total_products" value="<?= $total_products; ?>">
         <input type="hidden" name="total_price" value="<?= $grand_total; ?>" value="">
         <div class="grand-total">Precio Total  : <span>${{grand_total}} CLP</span></div>
      </div>

      <h3>Rellena los campos (Todos son obligatorios)</h3>

      <div class="flex">
         <div class="inputBox">
            <span>Nombre Completo :</span>
            <input type="text" name="name" placeholder="Ingresa tu Nombre Completo" class="box" maxlength="40" required>
         </div>
         <div class="inputBox">
            <span>Numero Telefonico :</span>
            <input type="number" name="mobile_no" placeholder="Ingresa tu numero telefonico" class="box" min="0" max="9999999999" onkeypress="if(this.value.length == 12) return false;" required>
         </div>
         <div class="inputBox">
            <span>Correo Electronico :</span>
            <input type="email" name="email" placeholder="Ejemplo 123@correo.com" class="box" maxlength="50" required>
         </div>
         <div class="inputBox">
            <span>Metodos de Pago:</span>
            <select name="method" class="box" required>
               <option value="Pago en Efectivo">Pago en Efectivo</option>
               <option value="Tarjeta de Credito">Tarjeta de Credito</option>
            </select>
         </div>
         <div class="inputBox">
            <span>Direccion 1 :</span>
            <input type="text" name="address1" placeholder="Ingresa el nombre de tu calle" class="box" maxlength="50" required>
         </div>
         <div class="inputBox">
            <span>Direccion 2 :</span>
            <input type="text" name="address2" placeholder="Ingresa el numero de tu Depto/Casa" class="box" maxlength="50" required>
         </div>
         <div class="inputBox">
            <span>Ciudad/Comuna:</span>
            <input type="text" name="city" placeholder="Ejemplo: San Miguel " class="box" maxlength="50" required>
         </div>
         <div class="inputBox">
            <span>Region :</span>
            <input type="text" name="state" placeholder="Ejemplo: Region Metropolitana" class="box" maxlength="50" required>
         </div>
         <div class="inputBox">
            <span>Pais :</span>
            <input type="text" name="country" placeholder="Ejemplo: Chile" class="box" maxlength="50" required>
         </div>
         <div class="inputBox">
            <span>Codigo Postal :</span>
            <input type="number" min="0" name="pincode" placeholder="2080000" min="0" max="99999999" onkeypress="if(this.value.length == 6) return false;" class="box" required>
         </div>
      </div>

      <input type="submit" name="order" class="btn" value="place order" formaction="{% url 'order_place' %}">

   </form>
   
</section>
{% endblock content %}











