   {% extends 'store/main.html' %}
   {% load static %}


{% block title %}
   Order Page
{% endblock title %}
   
{% block content %}
   

<section class="orders">
      
      {% if order %}
         
      
      <h1 class="heading">Compras Realizadas</h1>
     
        <div class="box-container">
            <div class="box">
                <p>Fecha de Pedido : <span>{{order.order_date}}</span></p>
                <p>Nombre : <span>{{address.name}}</span></p>
                <p>Correo Electronico : <span>{{address.email}}</span></p>
                <p>Numero Tel : <span>{{address.mobile_no}}</span></p>
                <p>Direccion : <span>{{shipped_address}}</span></p>
                <p>Metodo de Pago : <span>{{order.payment_mode}}</span></p>
                
                <p>Tus pedidos : <span>
                {% for order in orders %}
                {{order.product_id.name}}($ {{order.product_id.price}}  x {{order.quantity}})
                {% endfor %}
               </span></p>
               <p>Precio Total : <span>${{total_price}}</span></p>
               <p> Estado del Pago : <span>{{order.order_status}} </span> </p>
            </div>
            
         </div>
         {% else %}
            <div class="cart-total">
               <p>No tienes ordenes pendientes!</p>
            </div>
      {% endif %}
      </section>
{% endblock content %}
